html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    opacity: 1;
    transition: 3s opacity;
    letter-spacing: .2vw;
    font-size: 1vw;
}

body.fade-out {
    opacity: .1;
    transition: none;
}

/* NAVBAR */
.Navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    position: fixed;
    -webkit-animation: moveNav 3s;
    animation: moveNav 3s;
}

/* NAVEBAR TEXT */
.Navbar a {
    float: left;
    display: block;
    color: white;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
    -webkit-animation: movenavText 3.75s;
    animation: movenavText 3.75s;
    letter-spacing: .2vw;
}

/*NAVBAR ENTRY EFFECT*/
@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
  }

/*NAVBAR TEXT ENTRY EFFECT*/
@keyframes movenavText {
    from {top: -100vw;}
    to {top: 0vw;}
  }

/*VIDEO ENTRY EFFECT*/
@keyframes movevideoText {
    from {top: -100vw;}
    to {top: 0px;}
  }

/* HOVER EFFECTS */
.Navbar a:hover {
    background-color: #F4F4F4;
    color: black;
    font-weight: bold;
}

/* NAVBAR HOME */
.Navbar a.active {
    background-color: #538b61;
}

/*ZOOMS VIDEO OUT UPON PAGE LOAD*/
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1.5,1.5);
    }
    100% {
        transform: scale(1,1);
    }
}

/* VIDEO */
#Typing_Video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -2;
    animation: zoominoutsinglefeatured 5s;
}

/*TEXT OVER VIDEO*/
.Video_Text {
    background: rgba(0,0,0,0.5);
    color: white;
    width: 100%;
    padding-top: .1vh;
	padding-bottom: 1vh;
	margin-top: 23%;
    position: relative;
	-webkit-animation: moveNav 4s;
    animation: movevideoText 4s;
}

/*SLIDESHOW */
#Slideshow_Background {
    background:rgba(255,255,255, 0.35); /* This creates a slightly transparent white background that's placed over the video */
    }
  
  
.mySlides {
      display: none;
  }
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

#Slideshow_Container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
  }

  .Slide_Show_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
    width: auto;
  }

  .Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    margin-top: -0vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
  }
  
  .Next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .Previous:hover, .Next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }

  .text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw; 
    font-size: 1.5vw;
    background-color: rgba(0,0,0,0.75);
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
  }

  .Slide_Number {
    color: white;
    position: absolute;
    top: 0;
    font-family: Perpetua, Rockwell Extra Bold;
    letter-spacing: .1vw; 
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
    }
  
  .dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    z-index: 1;
  }
 
  .active, .dot:hover {
    background-color: black;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;  
  }

* {
    box-sizing: border-box;
}

.Column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1%;
    height: 525px;
    background-color: #dbe7db;
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 7%;
    height: 525px;
    background-color: #4d4d4d;
}

.Row:after {
    content: "";
    display: table;
    clear: both;
}

/* HEADING 1 ELEMENTS */
h1 {
    text-transform: uppercase;
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: 3%;
    color: #1a1a1a;
}

p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 1.35vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

/*ALL CENTERED TEXT*/
center{
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: center;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

/* ANCHOR ELEMENTS */
a {
    color: blue;
}

/* QUOTATION ELEMENTS */
q {
    font-style: italic;
    font-weight: bold;
}

/*IMAGE ELEMENTS*/
img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* CONTACT FORM */

/* CONTACT FORM ENTRY EFFECT */
@keyframes movePopup {
    from {right: -40vw;}
    to {bottom: 1.75vw;}
  }
  
  /* CONTACT BUTTON */
  .Pop_Up_Button {
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;  
    background-color: white;
    color: black;
    border: solid;
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
  }
  
  /* POPUP */
  .form-popup {
    border: 3px solid #e4f8e4;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
    background-color: #e4f8e4;
  }
  
  .form-container {
    max-width: 49vw;
    padding: 9px;
    background-color: white;
  }

  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: Gainsboro;
    font-family: Helvetica, Avant Garde;
    font-size: 1vw; 
  }
  
  /* SUBMIT BUTTON */
  .form-container .btn {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom:1vh;
  }
  
  /* CLOSE BUTTON */
  .form-container .cancel {
    background-color: black;
    color: white;
    border-color: gray;
  }
  
  button {
    font-family: "Trebuchet MS", Optima; 
    letter-spacing: .3vw; 
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw 1.5vw;
    border-style: solid;
    cursor: pointer;
    width: 100%;
    height: auto;
  }
  
  button:hover, .form-container .btn:hover{
    color: white;
    background-color: black;
    -webkit-transition-duration: 1s; 
    transition-duration: 1s;
    border-style: solid;
    border-color: silver;
  }
  .form-container .cancel:hover{
    color: white;
    background-color: darkred;
    -webkit-transition-duration: 1s; 
    transition-duration: 1s;
    border-style: solid;
    border-color: black;
  }


/* CENTER ALIGN ELEMENT HOVER EFFECT*/
center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/* PARAGRAPH ELEMENT HOVER EFFECT */
p:hover {
    color: #00004d;
    transition: transform 1s;
    transform: scale(1.01);
}

/* HEADING 1 ELEMENT HOVER EFFECT */
h1:hover {
    color: black;
    font-weight: normal;
}

/* IMAGE ELEMENT HOVER EFFECTS */
img:hover {
    filter: grayscale(5%);
    transition: transform 1s;
    transform: scale(1.1);
}

/* FOOTER ELEMENT */
footer {
    padding: 2%;
    background-color: white;
}

